@import "../src/scss/variables.scss";

.apartment-page{
    h1{
        color: $color-primary;
        font-weight: 500;
        margin-bottom: 0px;
    }
    h2{
        margin-top: auto;
        font-size: 18px;
        font-weight: 500;

    }
    .apartment__description__area{
        overflow: hidden;
        @media screen and (width <= 768px) {
            flex-direction: column;
        }
    }
   
   }
    .apartment__tags{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 96px));
    gap: 1rem;
    @media screen and (width <= 768px) {
       grid-template-columns: repeat(auto-fit, minmax(66.2px, 64px));
        gap: .4rem;
    }
    span {  
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 0.3em 1em;
    border-radius: .7rem;
    text-align: center;
    font-size: 14px;
    @media screen and (width <= 768px){
        font-size: 10px;
    }
    } 
    }
    .apartment__description__area {
        display: flex;
        gap: 1rem;
    }

img {
    width: 100%;
    margin-bottom: 1rem;
}
.img-mobile{
    // display: none;
    // @media screen and (width <= 570px) {
    //     display: block;
    // } 
}
.img-desktop {
height: 415px;
border-radius:1em;
object-fit: cover;
    // @media screen and (width <= 570px) {
    //     display: none;
    // }
}