@import "../src/scss/variables.scss";

.description__panel{
        flex-basis: 50%;
        overflow: hidden;
    @media screen and (width <= 768px){
        width: 100%;
    }
    p{
        margin-block: 0;
    }
    .description__header{
        background-color: $color-primary;
        color: $color-tertiary;
        padding: .2em 1em;
        border-radius: .7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (width <= 768px){
            font-size: 13px
        }
        i {
            cursor: pointer;
            font-size: 32px;
            @media screen and (width <= 768px){
                font-size: 20px;
            }
        }
    }
    .description__content{
        background-color: $grid-background-grey;
        padding: 1rem;
        border-radius: 0 0 1rem 1rem;
        position: relative;
        top: -0.3rem;
        z-index: -1;
        transition: transform 0.3s ease-in-out;
        &.hidden {
          transform: translateY(-100%);
        }
        &.visible {
          transform: translateY(0);
        }
    }
 }

 