.navbar{
    display: flex;
    align-items: center;
    padding: 2rem 3.1rem ;
    gap: 2rem;
    & a {
        text-decoration: none;
        color: black;
        &.active {
        text-decoration: underline;
        }
    }
}
.navbar_logo{
    margin-right: auto;
}