.banner {
    position: relative;
    background-image: url('./about-image.png');
    background-size: cover;
    background-position: center;
    min-height: 223px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }